.DS_Store
*~

# useful for keeping example code around.
examples/

# Autograder files, including default zip names
Archive.zip
assignment.zip
autograder/

# Ignore self, if we becomes a submodule.
gradescope-ci-autograder/
